<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body>
    <!-- start of header -->
    <header>
      <%- include('./partials/header.ejs');  %> 
    </header>
    <!-- end of header -->
    <!-- start of main page -->
    <main>
        <div class="container-fluid">
          <!-- heading 1 for employees -->
            <h1 class="text-center">Employees</h1>
            <!-- add new employees button -->
            <button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#New">Add new</button>
            
            
        </div>
        <div class="container-fluid mt-2">
          <div class="row">
              <div class="col-12">
                <h2 class="text-center">Employees Details</h2>
                <table class="table table-striped">
                    
                  <tr>
                    
                    <th class="text-center">Employee Id</th>
                    <th class="text-center">Employee Name</th>
                    <th class="text-center">Ssn Number</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Phone number</th>
                    <th class="text-center">Manager</th>
                    <th class="text-center">Role Id</th>
                    <th class="text-center">Department Id</th>
                  </tr>
                <tbody>
                  <% for(var i=0;i<employeeData.length;i++){
                    %>
                    <tr>
                      <td class="text-center"><%= employeeData[i].employeeId %></td>
                      <td class="text-center"><%= employeeData[i].employeeName %></td>
                      <td class="text-center"><%= employeeData[i].ssn_number %></td>
                      <td class="text-center"><%= employeeData[i].email %></td>
                      <td class="text-center"><%= employeeData[i].phone_number %></td>
                      <td class="text-center"><%= employeeData[i].manager %></td>
                      <td class="text-center"><%= employeeData[i].roleId %></td>
                      <td class="text-center"><%= employeeData[i].departmentId %></td>
                    </tr>
                  <%} %>
                </tbody>
              </table>
              </div>
          </div>
          
        </div>
        <div class="container-fluid mt-2">
          <div class="row">
            <div class="col-4 h-25">
              <h2 class="text-center">Departments</h2>
              <table class="table table-striped">
                <tr>
                  <th>Department ID</th>
                  <th>Department Name</th>
                </tr>
                <tbody>
                  <% for(var i=0;i<departmentData.length;i++){
                    %>
                    <tr>
                      <td class="text-center"><%=departmentData[i].departmentId %></td>
                      <td class="text-center"><%=departmentData[i].departmentName %></td>
                    </tr>
                  <%} %>
                </tbody>
              </table>
            </div>
            <div class="col-4 h-25">
              <h2 class="text-center">Managers</h2>
              <table class="table table-striped">
                <tr>
                  <th>Department Name</th>
                  <th>Department Manager</th>
                </tr>
                <tbody>
                  <% for(var i=0;i<managerData.length;i++){
                    %>
                    <tr>
                      <td class="text-center"><%=managerData[i].departmentName %></td>
                      <td class="text-center"><%=managerData[i].manager %></td>
                    </tr>
                  <%} %>
                </tbody>
              </table>
            </div>
            <div class="col-4 h-25">
              <h2 class="text-center">Roles</h2>
              <table class="table table-striped">
                <tr>
                  <th>Role ID</th>
                  <th>Role Name</th>
                </tr>
                <tbody>
                 <% for(var i=0;i<rolesData.length;i++){
                  %>
                  <tr>
                    <td class="text-center"><%=rolesData[i].roleId%></td>
                    <td class="text-center"><%=rolesData[i].roleName%></td>
                  </tr>
                 <%} %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="modal fade" id="New">
                <div class="modal-dialog modal-fullscreen">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h2>Add new employee</h2>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                      <form action="Addnew" method="POST" >
                        <div class="row">
                          <div class="col">
                            <input type="number" class="form-control" name="employeeId" placeholder="Enter Employee Number">
                          </div>
                          <div class="col">
                            <input type="text" class="form-control" name="employeeName" placeholder="Enter Employee Name">
                          </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col">
                            <input type="number" class="form-control" name="ssn_number" placeholder="Enter Employee SSN">
                          </div>
                          <div class="col">
                            <input type="email" class="form-control" name="email" placeholder="example@gmail.com">
                          </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col">
                            <input type="number" class="form-control" name="phone_number" placeholder="+254 114------00">
                          </div>
                          <div class="col">
                            <input type="text" class="form-control" name="manager" placeholder="Enter Employee Manager">
                          </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col">
                            <input type="number" class="form-control" name="roleId" placeholder="Enter Role ID">
                          </div>
                          <div class="col">
                            <input type="number" class="form-control" name="departmentId" placeholder="Enter Department ID">
                          </div>
                        </div>
                        <div class="row mt-3">
                          <div class="row">
                            <input type="submit" class="btn btn-outline-success btn-sm " value="Add"> 
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>  
          

    </main>
    <!-- end of main page -->
    <!-- start of footer -->
    <footer>
      
    </footer>
    <!-- end of footer -->
</body>
</html>