<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body>
    <!-- start of header -->
    <header>
      <%- include('./partials/header.ejs');  %> 
    </header>
    <!-- end of header -->
    <!-- start of main page -->
    <main>
        <div class="container-fluid">
          <!-- heading 1 for employees -->
            <h1 class="text-center">Employees</h1>
            <!-- add new employees button -->
            <button type="button" class="btn btn-outline-success btn-sm">Add new</button>
            
        </div>
        <div class="container-fluid mt-2">
          <div class="row">
              <div class="col-12">
                <table class="table table-striped">
                    
                  <tr>
                    
                    <th class="text-center">Employee Id</th>
                    <th class="text-center">Employee Name</th>
                    <th class="text-center">Ssn Number</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Phone number</th>
                    <th class="text-center">Manager</th>
                    <th class="text-center">Role Id</th>
                    <th class="text-center">Department Id</th>
                  </tr>
                <tbody>
                  <% for(var i=0;i<employeeData.length;i++){
                    %>
                    <tr>
                      <td class="text-center"><%= employeeData[i].employeeId %></td>
                      <td class="text-center"><%= employeeData[i].employeeName %></td>
                      <td class="text-center"><%= employeeData[i].ssn_number %></td>
                      <td class="text-center"><%= employeeData[i].email %></td>
                      <td class="text-center"><%= employeeData[i].phone_number %></td>
                      <td class="text-center"><%= employeeData[i].manager %></td>
                      <td class="text-center"><%= employeeData[i].roleId %></td>
                      <td class="text-center"><%= employeeData[i].departmentId %></td>
                    </tr>
                  <%} %>
                </tbody>
              </table>
              </div>
          </div>
          
        </div>
    </main>
    <!-- end of main page -->
    <!-- start of footer -->
    <footer>
      
    </footer>
    <!-- end of footer -->
</body>
</html>