<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body>
    <%- include('./partials/header.ejs'); %>
    <main>
        <div class="container-fluid">
            <h1 class="text-center">Projects</h1>
            <!-- view tasks button -->
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#myModal">view tasks</button>
                    <button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#Modale">ongoing tasks</button>
                    <button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#Modalane">completed tasks</button>
                    <!-- <button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#Modaleta">task done by</button> -->
                </div>
            </div>
            
        </div>
        <div class="container-fluid mt-2">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center">Projects Details</h2>
                    <table class="table table-striped">
                        <tr>
                            <th>Project ID</th>
                            <th>Title</th>
                            <th>Descriptions</th>
                            <th>Client ID</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                        <tbody>
                            <% for(var i=0;i<projectData.length;i++){
                                %>
                                <tr>
                                   <td class="text-center"><%=projectData[i].projectId %></td>
                                   <td class="text-center"><%=projectData[i].title %></td>
                                   <td class="text-center"><%=projectData[i].descriptions %></td>
                                   <td class="text-center"><%=projectData[i].clientId %></td>
                                   <td class="text-center"><%=projectData[i].startDate %></td>
                                   <td class="text-center"><%=projectData[i].endDate %></td> 
                                </tr>
                            <%} %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
            <div class="col-12">
                <div class="modal fade " id="myModal">
                <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h2 class="text-center">Tasks</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped">
                            <tr>
                                <th>Task Id</th>
                                <th>Title</th>
                                <th>Descriptions</th>
                                <th>Project ID</th>
                                <th>Date assigned</th>
                                <th>Due Date</th>
                            </tr>
                            <tbody>
                              <% for(var i=0;i<taskData.length;i++){
                                %>
                                <tr>
                                  <td class="text-center"><%=taskData[i].taskId %></td>
                                  <td class="text-center"><%=taskData[i].title %></td>
                                  <td class="text-center"><%=taskData[i].descriptions %></td>
                                  <td class="text-center"><%=taskData[i].projectId %></td>
                                  <td class="text-center"><%=taskData[i].date_assigned %></td>
                                  <td class="text-center"><%=taskData[i].due_date %></td>  
                                </tr>
                              <%} %>  
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">close</button>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="modal fade" id="Modale">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2>Ongoing tasks</h2>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                   <table class="table table-striped">
                                        <tr>
                                            <th>Employee Name</th>
                                            <th>Title</th>
                                            <th>Date assigned</th>
                                        </tr>
                                        <tbody>
                                          <% for(var i=0;i.ongoingData.length;i++){
                                            %>
                                            <tr>
                                                <td class="text-center"><%=ongoingData[i].employeeName %></td>
                                                <td class="text-center"><%=ongoingData[i].title %></td>
                                                <td class="text-center"><%=ongoingData[i].date_assigned %></td>
                                            </tr>
                                          <%}%>  
                                        </tbody>
                                   </table> 
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="modal fade" id="Modalane">
                        <div class="modal-dialog modal-fullscreen">
                           <div class="modal-content">
                            <div class="modal-header">
                                <h2>Completed tasks</h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button> 
                            </div>
                            <div class="modal-body">
                                <table class="table table-striped">
                                    <tr>
                                       <th>Employee Name</th>
                                       <th>Department Name</th>
                                       <th>Title</th>
                                       <th>Due Date</th> 
                                    </tr>
                                    <tbody>
                                     <% for(var i=0;i.completedData.length;i++){
                                        %>
                                        <tr>
                                            <td class="text-center"><%=completedData[i].employeeId %></td>
                                            <td class="text-center"><%=completedData[i].departmentId %></td>
                                            <td class="text-center"><%=completedData[i].title %></td>
                                            <td class="text-center"><%=completedData[i].due_date %></td>
                                        </tr>

                                     <%}  %> 
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">close</button> 
                            </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>
</html>